# Do NOT commit any sensitive or personal configs
.env
wp-content/uploads/wc-logs/*.log
wp-content/ai1wm-backups
wp-content/plugins/all-in-one-wp-migration
wp-content/plugins/all-in-one-wp-migration-unlimited-extension